<div class="principal">
  <div class="arriba">
    <input type="text" class="buscador" placeholder="Buscar por nombre">
    <button [routerLink]="['/registrar-usuario/nuevo']" type="button" class="btn btn-primary nuevo" name="button">Nuevo usuario</button>
  </div>
  <div class="abajo">
    <table class="table table-hover">
  <thead>
    <tr>
      <th style="text-align:center">Nombre</th>
      <th style="text-align:center">Correo</th>
      <th style="text-align:center">Usuario</th>
      <th style="text-align:center">Accion</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td style="text-align:center">{{usuario.nombre}}</td>
      <td style="text-align:center">{{usuario.correo}}</td>
      <td style="text-align:center">{{usuario.usuario}}</td>
      <td style="text-align:center"><button type="button" [routerLink]="['/registrar-usuario/', usuario._id]" class="btn btn-info">Editar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>

</td>
    </tr>

  </tbody>
</table>
  </div>
</div>
